<div class="section-17 wf-section">
    <div class="columns-13 w-row">
      <div class="showcase-column w-col w-col-4">
        <a href="{{ links.352945ee }}" class="div-block1 w-inline-block">
          <div class="text-block-3"><span class="text-span-30">{{ texts.-60921906 }}</span></div>
          <div class="text-block-44">{{ texts.-439879b3 }}</div>{%- image images.-797d6ef5.url, images.-797d6ef5.alt, '[{"max":479,"size":"75vw"},{"max":767,"size":"300px"},{"max":991,"size":"30vw"},{"max":10000,"size":"25vw"}]', 'class="image-4"' -%}
          <div class="link-6">{{ texts.21a77452 }}</div>
        </a>
      </div>
      <div class="showcase-column w-col w-col-4">
        <a href="{{ links.352945ee }}" class="div-block1 w-inline-block">
          <div class="text-block-3"><span>{{ texts.-2baa11fe }}</span></div>
          <div class="text-block-44">{{ texts.4c931085 }}</div>{%- image images.63fe752f.url, images.63fe752f.alt, '[{"max":479,"size":"75vw"},{"max":767,"size":"300px"},{"max":991,"size":"30vw"},{"max":10000,"size":"25vw"}]', 'class="image-4"' -%}
          <div class="link-6">{{ texts.21a77452 }}</div>
        </a>
      </div>
      <div class="showcase-column w-col w-col-4">
        <a href="{{ links.23 }}" class="div-block1 w-inline-block">
          <div class="text-block-3"><span>{{ texts.-307c01ff }}</span></div>
          <div class="text-block-44">{{ texts.2acfde9a }}</div>{%- image images.-46fb7d90.url, images.-46fb7d90.alt, '[{"max":479,"size":"75vw"},{"max":767,"size":"300px"},{"max":991,"size":"30vw"},{"max":10000,"size":"25vw"}]', 'height="" class="image-4"' -%}
          <div class="link-6">{{ texts.21a77452 }}</div>
        </a>
      </div>
    </div>
    <a href="{{ links.3cf9f039 }}" aria-current="page" class="link w--current">{{ texts.b1cdc69 }}</a>
  </div>