<footer id="footer" class="footer section-4 section-8 wf-section">
    <div class="footer-flex-container">
      <a href="{{ links.23 }}" class="footer-logo-link w-inline-block">{%- image images.4c3bc38e.url, images.4c3bc38e.alt, '[{"max":479,"size":"126px"},{"max":767,"size":"19vw"},{"max":10000,"size":"126px"}]', 'width="126" height="23" class="footer-image"' -%}</a>
      <div class="div-block-7">
        <div class="text-block-47"><span class="text-span-12">{{ texts.57def930 }}</span><br><span class="text-span-13">{{ texts.3c8b3533 }}<br>{{ texts.-73dcb63f }}<br>{{ texts.35205cf7 }}</span></div>
        <a href="{{ links.23 }}" class="button footer w-button">{{ texts.253fd2be }}</a>
      </div>
      <div class="div-block-8">
        <div class="text-block-48"><span class="text-span-12">{{ texts.4383917 }}</span><br><span class="text-span-13">{{ texts.702e8a15 }}<br>{{ texts.18fc99af }}<br>{{ texts.35206bfb }}</span></div>
        <a href="{{ links.23 }}" class="button footer w-button">{{ texts.253fd2be }}</a>
      </div>
      <div>
        <div class="text-block-46"><span class="text-span-14">{{ texts.-109ffe2b }}</span><br><span class="text-span-15">{{ texts.-3972594e }}</span></div>
      </div>
    </div>
  </footer>