<div data-w-id="1d008c90-fea2-3cfc-3cd3-592a605dd6f1" class="section-21 wf-section">
    <div class="w-container">
      <div class="columns-17 w-row">
        <div class="w-col w-col-6">
          <div class="text-block-41"><span class="text-span-37">{{ texts.7f274abe }}</span><br><br><br><span class="text-span-38">{{ texts.598fa213 }}<br><br>{{ texts.-2d76c85c }}<br>{{ texts.-3fa60f08 }}</span></div>
        </div>
        <div class="column-20 w-col w-col-6">
          <div class="form-block-2 w-form">
            <form id="email-form-2" name="email-form-2" data-name="email_2" class="form-2" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded">
              <div class="form-top-wrapper">
                <div class="form---left"><label for="name-4" class="field-label">{{ texts.18a8629b }}</label><input type="text" class="text-field w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="Your first name" id="name-4"><label for="email-2" class="field-label">{{ texts.6382b000 }}</label><input type="email" class="text-field w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Email or phone number" id="email-2" required=""></div>
                <div class="form---right"><label for="name-5" class="field-label">{{ texts.236cc655 }}</label><input type="text" class="text-field w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Your last name" id="name-2"><label for="company-name-2" class="field-label">{{ texts.6372c85d }}</label><input type="text" class="text-field w-input" maxlength="256" name="company-name-2" data-name="Company Name 2" placeholder="company name" id="company-name-2" required=""></div>
              </div><label for="name-5" class="field-label">{{ texts.63b68be7 }}</label><input type="text" class="text-field w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="What problem can Maslow help solve?" id="name-3"><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button landing w-button">
            </form>
            <div class="w-form-done">
              <div>{{ texts.5a0ea5a1 }}</div>
            </div>
            <div class="w-form-fail">
              <div>{{ texts.-7c112e99 }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-centre">
        <div class="image-face-wrap">{%- image images.-797d6ef5.url, images.-797d6ef5.alt, '[{"max":10000,"size":"100vw"}]', 'class="image-33"' -%}</div>
        <div class="text-block-42">{{ texts.5883c879 }}<br><br><span class="text-span-39">{{ texts.-52d2b5f5 }}</span></div>
      </div>
    </div>
  </div>