<div class="section-18 wf-section">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-6 w-nav">
      <div class="container-8 w-container">
        <a href="{{ links.23 }}" class="w-nav-brand">{%- image images.4f194416.url, images.4f194416.alt, '[{"max":10000,"size":"166px"}]', 'width="166"' -%}</a>
      </div>
    </div>
    <div class="w-container">
      <div class="text-block-37">{{ texts.-2f40744e }}<br><span class="text-span-32">{{ texts.-327c4d91 }}</span>{{ texts.1f93dc7 }}<br>{{ texts.-58980b8f }}</div>
      <a href="{{ links.23 }}" class="button-12 w-button">{{ texts.7f2746de }}</a>
    </div>
  </div>