<div class="section-20 wf-section">
    <div class="columns-15 w-row">
      <div class="w-col w-col-6">
        <a href="{{ links.23 }}" class="div-block-5 w-inline-block">{%- image images.-4cfae4ea.url, images.-4cfae4ea.alt, '[{"max":479,"size":"79vw"},{"max":767,"size":"73vw"},{"max":991,"size":"40vw"},{"max":10000,"size":"42vw"}]', 'class="image-34"' -%}
          <div class="text-block-39"><span class="text-span35">{{ texts.-60921906 }}</span><br><span class="text-span-36">{{ texts.7d2c4b35 }}</span></div>
        </a>
      </div>
      <div class="w-col w-col-6">
        <a href="{{ links.23 }}" class="div-block-5 w-inline-block">{%- image images.1adf2620.url, images.1adf2620.alt, '[{"max":479,"size":"79vw"},{"max":767,"size":"73vw"},{"max":991,"size":"40vw"},{"max":10000,"size":"42vw"}]', 'width="628"' -%}
          <div class="text-block-39"><span class="text-span-35">{{ texts.6374256c }}</span><br><span class="text-span-36">{{ texts.-3cfee77 }}</span></div>
        </a>
      </div>
    </div>
  </div>