<div class="section-17 home wf-section">
    {%- assign collection = collections.case-studies | sort: "-updated-on" | limit: 3 -%}<div class="collection-list-wrapper-6 w-dyn-list">
      {%- unless collection.length == 0 -%}<div role="list" class="w-dyn-items w-row">
        {%- for item in collection -%}<div role="listitem" class="collection-item-4 w-dyn-item w-col w-col-4">
          <a href="{{ links.23 }}" class="div-block1 w-inline-block">
            <div class="text-block-3">{{ item.data.title }}</div>
            <div class="text-block-44">{{ item.data.f_description }}</div>{%- image item.data.f_image.url, item.data.f_image.alt, '[{"max":479,"size":"83vw"},{"max":767,"size":"300px"},{"max":991,"size":"30vw"},{"max":10000,"size":"23vw"}]', 'class="image-4"' -%}
            <div class="link-6">{{ texts.21a77452 }}</div>
          </a>
        </div>{%- endfor -%}
      </div>{%- endunless -%}
      {%- if collection.length == 0 -%}<div class="w-dyn-empty">
        <div>{{ texts.3d503d2b }}</div>
      </div>{%- endif -%}
    </div>
    <div class="columns-13 w-row">
      <div class="column-18 w-col w-col-4"></div>
      <div class="column-19 w-col w-col-4"></div>
      <div class="column-21 w-col w-col-4"></div>
    </div>
    <a href="{{ links.-62f3730 }}" target="_blank" class="link">{{ texts.b1cdc69 }}</a>
  </div>