<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-2 navbar-7 w-nav">
      <a href="{{ links.2f }}" target="_blank" aria-current="page" class="brand-2 w-nav-brand w--current">{%- image images.196cd40c.url, images.196cd40c.alt, '[{"max":479,"size":"71vw"},{"max":10000,"size":"220px"}]', 'width="170" height="27" class="image-30"' -%}</a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="{{ links.-62f3730 }}" class="nav-link-2 w-nav-link">{{ texts.-5ca89569 }}</a>
        <a href="{{ links.-42911da1 }}" class="nav-link-3 w-nav-link">{{ texts.4f2427db }}</a>
        <a href="{{ links.71634165 }}" class="nav-link-4 w-nav-link">{{ texts.-27b1f031 }}</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-2 w-icon-nav-menu"></div>
      </div>
    </div>