<div class="wf-section">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-2 w-nav">
      <a href="{{ links.2f }}" target="_blank" class="brand-2 w-nav-brand">{%- image images.196cd40c.url, images.196cd40c.alt, '[{"max":479,"size":"63vw"},{"max":10000,"size":"220px"}]', 'width="170" height="27" class="image-30"' -%}</a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="{{ links.3cf9f039 }}" aria-current="page" class="nav-link-2 w-nav-link w--current">{{ texts.-5ca89569 }}</a>
        <a href="{{ links.-42911da1 }}" class="nav-link-3 w-nav-link">{{ texts.4f2427db }}</a>
        <a href="{{ links.71634165 }}" class="nav-link-4 w-nav-link">{{ texts.-27b1f031 }}</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-2 w-icon-nav-menu"></div>
      </div>
    </div>
    <div class="w-container">
      <div class="columns-12 w-row">
        <div class="column-17 w-col w-col-6">
          <a href="{{ links.23 }}" class="button-3 w-button">{{ texts.-659737c7 }}</a>
          <div class="text-block-17">{{ texts.-2baa11fe }}</div>
          <div class="text-block-18">{{ texts.3fe1f83 }}</div>
        </div>
        <div class="w-col w-col-6">
          <ul role="list" class="list-4">
            <li class="list-item-4">{{ texts.1ee5d303 }}<span class="text-span-24">{{ texts.1774e4 }}</span></li>
            <li class="list-item-5">{{ texts.-54f7123e }}<span class="text-span-25">{{ texts.7706004d }}<br>{{ texts.6e488e45 }}<br>{{ texts.2789a462 }}<br> </span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>