<div data-w-id="6b013152-5846-dfba-b773-6cf6e94913fe" class="section-13 wf-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3">
          <div class="text-block-21">{{ texts.-5162c586 }}</div>
          <div class="text-block-22">{{ texts.-32f6bc7 }}<br>{{ texts.4d711d63 }}<br>{{ texts.2eb88b56 }}<br>{{ texts.533dbe26 }}<br></div>
        </div>
        <div class="w-col w-col-9">
          <div class="html-embed-2 w-embed">
            
            
              <style>
#rectangle {
  width: 100%;
  height: 100%;
  border-radius: 34px;
  border: solid 1px #e3e3e3;
  background: #fafafa;
}
      </style>
            
            
              <div id="rectangle"></div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>