<div class="section-12 wf-section">
    <div data-w-id="fb4fc62f-b545-16cf-ecda-f3fd188d77b2" class="w-container">
      <div class="text-block-23">{{ texts.-59505c8e }}</div>
      <div class="columns-7 w-row">
        <div class="column-8 w-col w-col-4 w-col-small-small-stack">
          <div class="text-block-24">{{ texts.d8c8 }}<br>{{ texts.5ae7e42 }}<span class="text-span-27">{{ texts.200d }}</span></div>
          <div class="text-block-25">{{ texts.-7ca290a0 }}</div>
        </div>
        <div class="column-9 w-col w-col-4 w-col-small-small-stack">
          <div class="text-block-24"><span class="text-span-28">{{ texts.1568978d }}</span></div>
          <div class="text-block-25">{{ texts.31be8cc9 }}<br>{{ texts.-1091dbfc }}</div>
        </div>
        <div class="column-10 w-col w-col-4 w-col-small-small-stack">
          <div class="text-block-24"><span class="text-span-29">{{ texts.dc6a }}<br>{{ texts.5c6bd135 }}</span></div>
          <div class="text-block-25">{{ texts.-55c45c78 }}<br>{{ texts.6b71aa38 }}</div>
        </div>
      </div>
    </div>
  </div>